name: Blog 최신글
on:
  schedule:
    - cron: '0 0 * * *' # 매일 자정(UTC) 실행
  workflow_dispatch: # 수동 실행 버튼 활성화

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions: # 중요: 쓰기 권한 추가
      contents: write
    steps:
      - uses: actions/checkout@v3 # 최신 버전 권장
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "3"
          feed_list: "https://feeds.feedburner.com/tistory/yp5bnycdg3l" # 티스토리 공식 RSS
